.ngb-dp-arrow-btn {
    padding: 0 0.25rem;
    margin: 0 0.5rem;
    border: none;
    color: blue ! important;
    background-color: transparent;
    z-index: 1;
}
.ngb-dp-months {
    display: -ms-flexbox;
    display: inline-table;
    font-size: 14px;
}
select{
    display: flex;
    display: -ms-flexbox;
    /* -ms-flex: 1 1 auto; */
    width: 100%;
    font-size: 13px! important;
    padding: 0 0.5rem;
    font-size: 0.875rem;
    height: 1.85rem;
}

.bg-primary {
    color: white;
    background-color: #337ab7 ! important;
}
.btn-light{
    width:1.5rem;
}
.ngb-dp-day, .ngb-dp-weekday, .ngb-dp-week-number{
    width: 2.6rem ! important;
    height: 2rem;
    margin-left: 0.35rem ! important;
}